<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949283268302-m0kqjjv68n9no2fnlj2rkeb5btgog1ot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949283268302-m0kqjjv68n9no2fnlj2rkeb5btgog1ot</string>
	<key>API_KEY</key>
	<string>AIzaSyC30h0-_HHLqxt2N2gkHrN3qUXRWtmjo2s</string>
	<key>GCM_SENDER_ID</key>
	<string>949283268302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>awesome-drawing-quiz-55efd</string>
	<key>STORAGE_BUCKET</key>
	<string>awesome-drawing-quiz-55efd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949283268302:ios:937d15e6d7df03962ad29f</string>
</dict>
</plist>